<div class="section--foucault">

<div class="foucault-1">
{% responsive_image_block %}
  path: assets/images/art-2.jpg
  alt: focault art
  class: ""
  sizes: "30vw"
{% endresponsive_image_block %}
</div>

<div class="foucault-2">
{% responsive_image_block %}
  path: assets/images/art-5.png
  alt: focault art
  class: ""
  sizes: "30vw"
{% endresponsive_image_block %}
</div>

<div class="foucault-3" style="background-image: url( {{ site.baseurl | absolute_url }}/assets/images/art-texture.jpg);"></div>

</div>
