// Horizontal rule
hr {
    @include margin-top($hr-margin);
    @include margin-bottom($hr-margin);

    box-sizing: content-box;
    border: 0;
    color: $hr-color;
    display: block;
    height: #{$leading + 'px'};
    height: #{$leading-rem + 'rem'};
    margin-right: auto;
    margin-left: auto;
    background-size: 100% #{$leading + 'px'};
    background-size: 100% #{$leading-rem + 'rem'};
    background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});
    width: 100%;
}
