blockquote {
    font-style: italic;
    padding-left: 1.4375rem;

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        padding-left: 2rem;
    }

}

cite {
    display: block;
    font-style: normal;
}

// Quotes
figure blockquote {
    @include padding(1, 0);

    p {
        @include font-size(1.6875);
        @include line-height(1.5);
    }

}
